extends layout

block content
  .w3-container.w3-card.w3-light-grey
    h1.w3-center Perfil 
    .w3-container
      p
        strong Username: 
        span.w3-text-dark-grey.w3-right-align #{user.username}
      p
        strong Nome: 
        span.w3-text-dark-grey.w3-right-align #{user.nome}
      p
        strong Data de Registo: 
        span.w3-text-dark-grey.w3-right-align #{user.dataRegisto}
    .w3-container.w3-margin-top
      a.w3-button.w3-blue(href='#' onclick='document.getElementById("editNameForm").style.display="block"') Alterar Nome
    .w3-container.w3-margin-top
      form#editNameForm(style='display:none' action='/update-name' method='POST')
        .w3-margin-top
          label(for='nome') Novo Nome:
          input.w3-input(type='text' id='nome' name='nome' value=user.nome required)
        .w3-container.w3-margin-top
          button.w3-button.w3-blue(type='submit') Atualizar Nome
        .w3-container.w3-margin-top
          a.w3-button.w3-grey(href='#' onclick='document.getElementById("editNameForm").style.display="none"') Cancelar
