extends layout

block content
  .w3-card-4
    header.w3-light-blue
      h2.w3-center Tribunais
    .w3-container
      table.w3-table-all
        thead
          tr
            th Número de Acordaos
            th Tribunal
        tbody
          each tribunal in tribunais
            tr
              td= tribunal.numero_acordaos
              td
                a(href='/acordao/tribunal/' + tribunal.tribunal)= tribunal.tribunal

