extends layout

block content
    title Tribunal #{tribunal.tribunal}
    .w3-container
        table.w3-table-all
            tr
                th Numero de Acordaos
                th Tribunal
            tr
                td #{tribunal.numero_acordaos}
                td #{tribunal.tribunal}
                
